/.gitignore export-ignore
/.gitattributes export-ignore
/BLUEPRINT.md export-ignore
/SOP-table.md export-ignore
/sop-autocomplete.md export-ignore
/form-data-anggota.md export-ignore
/form-data-pesantren.md export-ignore
/resources export-ignore
